<%= form_with(model: @tweet, url: tweets_path, local: true) do |f| %>
  <%= f.text_field :content %>
  <%= f.submit '送信' %>
<% end %>
<% @tweets.each do |tweet| %>
  <div class="content">
    <div class="tweet-content">
      <%= tweet.content %>
    </div>
    <div class="tweet-time">
      <%= l tweet.created_at %>
    </div>
  </div>
<% end %>